* {
    color:#666;
    margin:0px;
    padding:0px;
    font-size:12px;
    font-family:Verdana;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

.clear {
    clear:both;
}

body {
    background-color:#fff;
}

div.body {
    width:980px;
    margin:auto;
}

h1 {
    height:60px;
    color:#fff;
    text-align:center;
    font-size:26px;
    line-height:60px;
    font-weight:normal;
    background-color:#d3d3d3;
}

a.login {
    float:right;
}

